# Documenter.jl
2026-05/docs/build/
2026-05/docs/Manifest.toml
2026-05/docs/src/generated

# Quarto slides
2026-05/slides/intro_files/
2026-05/slides/_site/

*.html

# Model output
*.jld
*.jld2

# Plots
*.png
*.gif
*.mp4